@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Search Available Positions", "Index", "Students")
    @Html.ActionLink("Applied Positions", "Index", "Events")
    @Html.ActionLink("Scheduled Interviews", "Index", "Committees")
    @Html.ActionLink("Student Profile", "Index", "Committees")


</p>




