@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Student", "Index", "Students")
    @Html.ActionLink("Events", "Index", "Events")
    @Html.ActionLink("Committees", "Index", "Committees")
</p>




